version: "3.6"

services:
  # MongoDB: https://hub.docker.com/_/mongo/
  mongodb:
    container_name: {{ mongodb_container_name }}
    user: root
    image: {{ mongodb_image }}
    volumes:
       - {{ graylog_root_data_dir }}/mongodb:/data/db
    deploy:
     resources:
      limits:
        cpus: '1'
        memory: 1G
      reservations:
        cpus: '0.3'
        memory: 300m

  # Elasticsearch: https://www.elastic.co/guide/en/elasticsearch/reference/6.6/docker.html
  elasticsearch:
    container_name: {{ elasticsearch_container_name }}
    user: root
    image: {{ elasticsearch_image }}
    volumes:
      - {{ graylog_root_data_dir }}/elasticsearchdata:/usr/share/elasticsearch/data
      - {{ graylog_root_data_dir }}/elasticsearchdata/ssl:/usr/share/elasticsearch/config/certs
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      - cluster.name=graylog-el-cluster
      - bootstrap.memory_lock=true
      - discovery.type=zen
      - discovery.zen.minimum_master_nodes=1
      - discovery.zen.ping.unicast.hosts=elasticsearch
      - "ES_JAVA_OPTS=-Xms8192m -Xmx8192m"
      - ELASTIC_PASSWORD={{ elastic_password }}
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.verification_mode=certificate
      - xpack.security.http.ssl.key=/usr/share/elasticsearch/config/certs/client.key
      - xpack.security.http.ssl.certificate=/usr/share/elasticsearch/config/certs/client.crt
      - xpack.security.http.ssl.certificate_authorities=/usr/share/elasticsearch/config/certs/ca.crt
      - xpack.security.transport.ssl.verification_mode=certificate
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.key=/usr/share/elasticsearch/config/certs/client.key
      - xpack.security.transport.ssl.certificate=/usr/share/elasticsearch/config/certs/client.crt
      - xpack.security.transport.ssl.certificate_authorities=/usr/share/elasticsearch/config/certs/ca.crt
      - cluster.routing.allocation.disk.threshold_enabled=true
      - cluster.routing.allocation.disk.watermark.low=93%
      - cluster.routing.allocation.disk.watermark.high=95%
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - {{ elasticsearch_port }}:{{ elasticsearch_port }} 
    deploy:
     resources:
      limits:
        cpus: '4'
        memory: 8G
      reservations:
        cpus: '0.5'
        memory: 300m
    logging:
     driver: "json-file"
     options:
      max-size: "50m"
      max-file: "4"

  # Graylog: https://hub.docker.com/r/graylog/graylog/
  graylog:
    container_name: {{ graylog_container_name }}
    user: root
    image: {{ graylog_image }}
    #journal and config directories in local NFS share for persistence
    volumes:
       - {{ graylog_root_data_dir }}/graylog/ssl:/opt/config/ssl:ro
       - {{ graylog_root_data_dir }}/graylog/web_ssl:/opt/config/web_ssl:ro
       - {{ graylog_root_data_dir }}/graylog/data/journal:/usr/share/graylog/data/journal:rw
    environment:
      # CHANGE ME (must be at least 16 characters)!
      - GRAYLOG_PASSWORD_SECRET={{ graylog_password_secret }}
      # Password: admin
      - GRAYLOG_ROOT_PASSWORD_SHA2={{ graylog_root_password_sha2 }}
      - GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:{{ graylog_http_bind_port }}
      - GRAYLOG_HTTP_EXTERNAL_URI={{ graylog_http_external_uri }}/
      - GRAYLOG_ELASTICSEARCH_HOSTS=https://elastic:{{ elastic_password }}@{{ elasticsearch_container_name }}:{{ elasticsearch_port }}
      - GRAYLOG_IS_MASTER=true
      - GRAYLOG_HTTP_PUBLISH_URI={{ graylog_http_external_uri }}/
      - GRAYLOG_HTTP_ENABLE_TLS=true
      - GRAYLOG_HTTP_TLS_CERT_FILE={{ graylog_root_data_dir }}/graylog/webssl/client.crt
      - GRAYLOG_HTTP_TLS_KEY_FILE={{ graylog_root_data_dir }}/graylog/webssl/client.key
      - 'GRAYLOG_SERVER_JAVA_OPTS=-XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:NewRatio=1 -XX:MaxMetaspaceSize=256m -server -XX:+ResizeTLAB -XX:+UseConcMarkSweepGC -XX:+CMSConcurrentMTEnabled -XX:+CMSClassUnloadingEnabled -XX:+UseParNewGC -XX:-OmitStackTraceInFastThrow -Xms4096m -Xmx4096m'
    links:
      - mongodb:mongo
      - {{ elasticsearch_container_name }}
    ports:
      # Graylog web interface and REST API
      - {{ graylog_http_bind_port }}:{{ graylog_http_bind_port }}
      # Syslog TCP
      - {{ graylog_tcp_port }}:{{ graylog_tcp_port }}
      # Syslog UDP
      - {{ graylog_udp_port }}:{{ graylog_udp_port }}/udp
      # GELF TCP
      - {{ graylog_gelf_tcp_port }}:{{ graylog_gelf_tcp_port }}
      # GELF UDP
      - {{ graylog_gelf_udp_port }}:{{ graylog_gelf_udp_port }}/udp
      # Beats port
      - {{ graylog_beats_port }}:{{ graylog_beats_port }}
      # API
      - {{ graylog_http_bind_port }}:{{ graylog_http_bind_port }}
    deploy:
     resources:
      limits:
        cpus: '4'
        memory: 6G
      reservations:
        cpus: '0.5'
        memory: 300m
    logging:
     driver: "json-file"
     options:
      max-size: "50m"
      max-file: "4"
