users:
  user.name:
    state: present
    fullname: User Name
    uid: 2001
    gid: 2100
    system_groups:
      - admins
    user_groups:
      - sysadmins
    pub_ssh_keys:
      - ssh-rsa xxoaosk198JAxk1malh67aXmakf my-laptop