gpg_keys_centos7:
  - RPM-GPG-KEY-CentOS-7.pub
  - RPM-GPG-KEY-grafana.pub
  - SALTSTACK-GPG-KEY.pub
  - GUARDTIME-GPG-KEY.pub
  - RPM-GPG-KEY-EPEL-7.pub
  - GPG-KEY-elasticsearch.pub
  - RPM-GPG-KEY-ZABBIX.pub
  - GPG-KEY-NAGIOS-V2.pub
  - RPM-GPG-KEY-PGDG-92.pub
  - RPM-GPG-KEY-MariaDB.pub
  - GITLAB-RUNNER.pub
  - DOCKER-RPM.pub
  - RPM-GPG-KEY-Adiscon.pub
  - RPM-GPG-KEY-xamarin.pub
  - GPG-KEY-MONGODB.pub
  - RPM-GPG-KUBERNETES.pub
  - RPM-GPG-KEY-mysql.pub
  - RPM-GPG-KEY-openresty.pub
  - RPM-GPG-KEY-PGDG-96.pub
  - RPM-GPG-KEY-webtatic-el7.pub
  - RPM-GPG-KEY-remi.pub
  - GPG-XTEE.pub
  - GPG-CENTOS-UYUNI-CLIENT.pub
  - RPM-GITLAB.pub

gpg_keys_centos6:
  - RPM-GPG-KEY-ZABBIX.pub
  - RPM-GPG-KEY-EPEL-6.pub
  - RPM-GPG-KEY-CentOS-6.pub

gpg_keys_centos8:
  - RPM-GPG-KEY-remi-el8.pub
  - RPM-GPG-KEY-ZABBIX.pub
  - RPM-GPG-KEY-MariaDB.pub
  - RPM-GPG-KEY-EPEL-8.pub
  - DOCKER-RPM.pub  
  - GPG-KEY-elasticsearch.pub
  - GPG-KEY-NAGIOS-V2.pub
  - RPM-GPG-KEY-PGDG-96.pub
  - GPG-CENTOS-UYUNI-CLIENT.pub

gpg_keys_ubuntu18_04:
  - GPG_XTEE.pub

gpg_keys_opensuse:
  - RPM-GPG-KEY-ZABBIX.pub
  - RPG-GPG-UYUNI-STABLE.pub